{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{{ item.title }}</h2>
<h4>Listed by {{ item.user }}</h4>
<div>
    {{ item.description }}
    <br>
    &#36;{{ item.price }}
    <br>
    {{ item.condition }}
</div>

<!--Code that displays all the comments below a listing-->
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Comments</h5>
      </div>
      {% if item.comment_set.all %} {% for comment in item.comment_set.all %}
      <p class="mb-1 fs-5">{{ body }}</p>
      <small class="text-muted"> by {{ comment.author }} </small>
      {% endfor %} {% else %}
      <p class="mb-1 fs-5">No one's talking about this listing yet!</p>
      {% endif %}
    </a>
</div>
  
  <hr>
  <div class="ml-4">
    <h4 class="ml-2">Make a comment or ask a question</h4>
    <form action="" method="post" class="ml-2">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-success ml-2" type="submit">publish</button>
    </form>
  </div>

<hr>
    <div class="card-footer text-center text-muted">
        <p>
            <a href="{% url 'item_edit' item.pk %}" class="btn btn-outline-info ml-2"> Edit </a> | <a href="{% url 'item_delete' item.pk %}" class="btn btn-outline-info ml-2"> Delete </a>
        </p>
        <p>Back to <a href="{% url 'home' %}" class="btn btn-outline-info ml-2">All Posts</a></p>
    </div>
{% endblock content %}