{% extends 'home/base.html' %}

{% block content %}
<h2>Account Page</h2>
<h4>{{ item.user }}</h4>
<div>
    <span>First Name: {{ user.first_name }}</span>
    <br>
    <span>Last Name: {{ user.last_name }}</span>
    <br>
    <span>Email: {{ user.email }}</span>
    <br>
    <span>Phone: {{ user.phone_number }}</span>
</div>
<hr>
    <div class="card-footer text-center text-muted">
        <p>
            <a href="{% url 'profile_edit' user.pk %}" class="btn btn-outline-info ml-2"> Edit Details </a>
        </p>
    </div>
{% endblock content %}